The following are the datasets required to be uploaded before starting to code:

cells_geo_description.xlsx [Link]

cells_geo.csv [Link]

CDR_description.xlsx [Link]

CDR 20120507 [http://bit.ly/TelecomDataset1]

CDR 20120508 [http://bit.ly/TelecomDataset2]

CDR 20120509 [http://bit.ly/TelecomDataset3]

In [1]:
#we shall first load the sql extension into our environment

%load_ext sql

#connect to the memory sqlite database
%sql sqlite://

'Connected: @None'

In [2]:
#let us import the python libraries we need
import csv
import pandas as pd

In [4]:
#load the first table from a local csv file
with open('cells_geo.csv','r') as f:
    cells_geo = pd.read_csv(f, index_col=0, encoding='utf-8') 

#let us store this in our in memory sqlite database
%sql DROP TABLE if EXISTS cells_geo;
%sql PERSIST cells_geo;

 * sqlite://
Done.
 * sqlite://

'Persisted cells_geo'

In [5]:
#preview the dataset
%%sql
select * from cells_geo
limit 10;

 * sqlite://
Done.

[('0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AGBANNEW;-4.00066666666667;5.36819444444444;LAGUNE;;fbb2e75af3;0bb492ef17',),
 ('1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AGBANNEW;-4.00066666666667;5.36819444444444;LAGUNE;;1502501d78;0bb492ef17',),
 ('2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AGBANNEW;-4.00066666666667;5.36819444444444;LAGUNE;;0c2e182a0c;0bb492ef17',),
 ('3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSINIE""";-3.48846666666667;5.15876111111111;SUD COMOE;;69bdfc69fd;8a1e6ce31f',),
 ('4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSINIE""";-3.48846666666667;5.15876111111111;SUD COMOE;;7a1029d2ab;8a1e6ce31f',),
 ('5;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSINIE""";-3.48846666666667;5.15876111111111;SUD COMOE;;0b4f56438f;8a1e6ce31f',),
 ('6;KRIKOREA;In Service;INTERIEUR;Grand-OUEST;"KRIKOREA""";-6.62705555555556;6.70736111111111;HAUT SASSANDRA;;041d2504f5;260dbfedc5',),
 ('7;ABOBO;In Service;ABIDJAN;"""Abidjan_NORD";NPONON;-4.02358333333333;5.43569444444444;LAGUNE;;a70c1d263b;56306cc7ca',),
 ('8;ABOBO;In Service;ABIDJAN;"""Abidjan_NORD";NPONON;-4.02358333333333;5.43569444444444;LAGUNE;;e2d04ea883;56306cc7ca',),
 ('9;ABOBO;;ABIDJAN;"""Abidjan_NORD";NPONON;-4.02358333333333;5.43569444444444;LAGUNE;;ee224cd27e;56306cc7ca',)]

In [6]:
#load the second table from a local csv file
with open('Telcom_dataset.csv','r') as f:
    Telcom_dataset = pd.read_csv(f, index_col=0, encoding='utf-8') 

#let us store this in our in memory sqlite database
%sql DROP TABLE if EXISTS Telcom_dataset;
%sql PERSIST Telcom_dataset;

 * sqlite://
Done.
 * sqlite://

'Persisted telcom_dataset'

In [8]:
#preview the dataset
%%sql
select * from Telcom_dataset
limit 10;

 * sqlite://
Done.

[('Voice', 0, '2012-05-06 23:04:37.0', '1', '49fae048b547780', '1a49f8b0ded9de6', '19e2e', '19e2e', '/TJNe+Mmtu', '/TJNe+Mmtu'),
 ('sms', 0, '2012-05-06 23:05:25.0', '0', '7a54a6eaee19e65', '93343ba6e41af95', '19e2e', '19e2e', '/+cKZKIp41', '/+cKZKIp41'),
 ('sms', 25, '2012-05-06 23:05:41.0', '0', '6008887b0207d82', '7aacc9709ce0a20', '19e2e', '19e2e', '/u0FSD+ahi', '/u0FSD+ahi'),
 ('Voice', 56, '2012-05-06 23:05:42.0', '1', '7370032e20f4e96', '6af4a60e74c91d3', '19e2e', '19e2e', '+cNeJzsTp3', '+cNeJzsTp3'),
 ('Voice', 14, '2012-05-06 23:06:29.0', '1', '966ba4656e38e62', '02aa736ee555d5c', '19e2e', '19e2e', '051KhYDCpv', '051KhYDCpv'),
 ('data', 0, '2012-05-06 23:07:26.0', '_', 'f71825ca6e623f9', '5a4dc9e82deb309', '19e2e', 'OTHER', '/lrUXVGVcN', '/lrUXVGVcN'),
 ('Voice', 0, '2012-05-06 23:08:02.0', '1', '4afd7d5af21b1ce', '67bf1ac30e58e2f', '19e2e', '19e2e', '+38u2u/rfx', '+38u2u/rfx'),
 ('Voice', 0, '2012-05-06 23:08:03.0', '5', 'd717dee81c51389', 'adde5afd9a67b10', '19e2e', '19e2e', '09UjmmY1Ds', '09UjmmY1Ds'),
 ('Voice', 0, '2012-05-06 23:08:05.0', '1', '44522aefdc918a6', '19e68e80103885e', '19e2e', '19e2e', '0DeimCpZOc', '0DeimCpZOc'),
 ('sms', 0, '2012-05-06 23:08:43.0', '0', '0763a571d24db64', 'f773694c00c74d2', '19e2e', '19e2e', '01MDiY5F89', '01MDiY5F89')]

In [9]:
#load the third table from a local csv file
with open('Telcom_dataset2.csv','r') as f:
    Telcom_dataset2 = pd.read_csv(f, index_col=0, encoding='utf-8') 

#let us store this in our in memory sqlite database
%sql DROP TABLE if EXISTS Telcom_dataset2;
%sql PERSIST Telcom_dataset2;

 * sqlite://
Done.
 * sqlite://

'Persisted telcom_dataset2'

In [10]:
#preview the dataset
%%sql
select * from Telcom_dataset2
limit 10;

 * sqlite://
Done.

[('sms', 0, '2012-05-07 23:02:06.0', '2', '32255675c3b6fe3', '1aa7ae01386e9fb', '19e2e', '19e2e', '+854AcBQT2', '+854AcBQT2'),
 ('Voice', 0, '2012-05-07 23:03:44.0', '1', 'ff16d6ac74c1c64', '87d87309c15a8c9', '19e2e', '19e2e', '+854AcBQT2', '+854AcBQT2'),
 ('sms', 0, '2012-05-07 23:04:06.0', '0', '98d9f2fb5ff624b', '93343ba6e41af95', '19e2e', '19e2e', '+laSrk7g6q', '+laSrk7g6q'),
 ('Voice', 37, '2012-05-07 23:04:48.0', '1', '3f9c8a33ec7be1f', '7d05a38f89c49d8', '19e2e', '19e2e', '/xvRrCVKoQ', '/xvRrCVKoQ'),
 ('sms', 25, '2012-05-07 23:04:58.0', '1', '7bcccc03adf3864', '56a5d5430d2fa86', '19e2e', '19e2e', '+bO+qkSonO', '+bO+qkSonO'),
 ('sms', 0, '2012-05-07 23:05:41.0', '4', 'd73f11fdc9fcb30', 'ec90fdb12b50cbc', '19e2e', '19e2e', '/MMplBlWjh', '/MMplBlWjh'),
 ('Voice', 41, '2012-05-07 23:06:14.0', '1', 'eafaf521153b405', '70a60b7bca83a58', '19e2e', '19e2e', '+laSrk7g6q', '+laSrk7g6q'),
 ('Voice', 11, '2012-05-07 23:06:28.0', '0', 'a1799cdc5108a90', 'efee282793c4e56', '19e2e', '19e2e', '+gySf02tKW', '+gySf02tKW'),
 ('sms', 0, '2012-05-07 23:06:35.0', '2', 'f81bb99db8c0373', '7af76c2046e02f3', '19e2e', 'OTHER', '/0FxP3az1x', '/0FxP3az1x'),
 ('sms', 0, '2012-05-07 23:06:50.0', '0', '6a7d89469dc20e9', '3690c6c0444c0c0', '19e2e', '19e2e', '0ecjmwPX21', '0ecjmwPX21')]

In [11]:
#load the third table from a local csv file
with open('Telcom_dataset3.csv','r') as f:
    Telcom_dataset3 = pd.read_csv(f, index_col=0, encoding='utf-8') 

#let us store this in our in memory sqlite database
%sql DROP TABLE if EXISTS Telcom_dataset3;
%sql PERSIST Telcom_dataset3;

 * sqlite://
Done.
 * sqlite://

'Persisted telcom_dataset3'

In [12]:
#preview the dataset
%%sql
select * from Telcom_dataset3
limit 10;

 * sqlite://
Done.

[('Voice', 61, '2012-05-08 23:01:28.0', '2', '966f68353622feb', 'ffd53a3bb2db6f1', '19e2e', '19e2e', '+38u2u/rfx', '+38u2u/rfx'),
 ('sms', 0, '2012-05-08 23:01:31.0', '1', 'a0a597384c612d7', 'cf3b218f1dde792', '19e2e', '19e2e', '+Fs4mTvdKx', '+Fs4mTvdKx'),
 ('Voice', 10, '2012-05-08 23:02:59.0', '1', '5441a9a58c97132', '52f8b299515b9b7', '19e2e', '19e2e', '+ZaaZozy/+', '+ZaaZozy/+'),
 ('sms', 0, '2012-05-08 23:03:04.0', '0', '8ab8b9ed6989f61', 'e09e736e46c5c3d', '19e2e', '19e2e', '+cNeJzsTp3', '+cNeJzsTp3'),
 ('Voice', 22, '2012-05-08 23:03:16.0', '4', '52662a62b199334', '2186273faab4602', '19e2e', '19e2e', '/eeMklgyJA', '/eeMklgyJA'),
 ('Voice', 10, '2012-05-08 23:03:59.0', '0', 'c572f692ed9d25f', '5e6221fa6b35f62', '19e2e', '19e2e', '+e+xcimwre', '+e+xcimwre'),
 ('sms', 0, '2012-05-08 23:06:06.0', '0', '32cc9a0c68cc9ee', '9eb1b241c685914', '19e2e', '19e2e', '+R5ccmtyJf', '+R5ccmtyJf'),
 ('Voice', 10, '2012-05-08 23:06:55.0', '1', '38c234bf93b3aac', 'ae0bd079dc09dd5', '19e2e', '19e2e', '+ZaaZozy/+', '+ZaaZozy/+'),
 ('sms', 25, '2012-05-08 23:07:09.0', '1', '6dd0d088cceca75', '9bdc6a2acd8ee15', '19e2e', '19e2e', '13O1+JEun3', '13O1+JEun3'),
 ('sms', 0, '2012-05-08 23:07:38.0', '0', '9572b11240ca426', '64898ae3aa9cc93', '19e2e', '19e2e', '/eeMklgyJA', '/eeMklgyJA')]